
.banner{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(223, 216, 216);
  color:rgb(70, 62, 62);
  padding:1rem 2rem;
  display: flex;
   justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.banner p {
  margin:0;
  font-size: 16px;
}

.banner button {

  border: none;
  color: white;
  cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 5px;
}



.accept{
  background-color: rgb(103, 99, 99);
}
.decline{
  background-color: darkgray;
}



